@using Lieb.Models.GuildWars2.Raid

<div>
    <table class="table">
        <tbody>
            @foreach (var role in _raid.Roles)
            {
                Models.GuildWars2.Raid.RaidSignUp[] signUps = _raid.SignUps.Where(s => s.PlannedRaidRoleId == role.PlannedRaidRoleId).ToArray();
                int usedSpots = signUps.Where(s => s.SignUpType == SignUpType.SignedUp).Count();
                        
                <tr>
                    <td><h5>@role.Name: @role.Description (@usedSpots /@role.Spots)</h5></td>
                </tr>
                @foreach (var signUp in signUps)
                {
                    if(signUp.SignUpType != SignUpType.SignedOff)
                    {
                        string signUpStatus = string.Empty;
                        if (signUp.SignUpType != SignUpType.SignedUp) signUpStatus = $" - {signUp.SignUpType}";
                        <tr>
                            <td>@signUp.LiebUser.Name (@signUp.GuildWars2Account.AccountName) @signUpStatus</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>


@code {
    [Parameter]
    public Raid _raid { get; set; }

}
