@page "/raidedit"
@page "/raidedit/{raidId}"
@using Lieb.Data
@using Lieb.Models.GuildWars2.Raid
@using System.ComponentModel.DataAnnotations
@inject RaidService RaidService
@inject TimeZoneService TimeZoneService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime


<h3>CreateRaid</h3>

<AuthorizeView Policy="@Constants.Roles.RaidLead" Context="authorizationContext">
<EditForm Model="@_raid" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    @{
        bool _isEdit = _raid.RaidId != 0;
    }
    <p>
        <label>
            Title:
            <InputText @bind-Value="_raid.Title" />
        </label>
    </p>
    <p>
        <label>
            Description:
            <InputTextArea @bind-Value="_raid.Description" />
        </label>
    </p>
    <p>
        <label>
            Raid Type:
            <InputSelect @bind-Value="_raid.RaidType" disabled="@_isEdit">
                <option value="@RaidType.Planned">Planned</option>
                <option value="@RaidType.RandomWithBoons">Random with boons covred</option>
                <option value="@RaidType.RandomClasses">Random classes</option>
                <option value="@RaidType.RandomEliteSpecialization">Random elite specializations</option>
            </InputSelect>
        </label>
    </p>
    
    <p>
        <label>
            Date:
            <InputDate @bind-Value="_raidDate" />
        </label>
    </p>

    <p>
        <label>
            Start Time:
            <input type="time" @bind="_startTime" />
        </label>
    </p>
    <p>
        <label>
            End Time:
            <input type="time" @bind="_endTime" />
        </label>
    </p>

    <p>
        <label>
            Organizer:
            <InputText @bind-Value="_raid.Organizer" />
        </label>
    </p>
    <p>
        <label>
            Guild:
            <InputText @bind-Value="_raid.Guild" />
        </label>
    </p>
    <p>
        <label>
            Voice chat:
            <InputText @bind-Value="_raid.VoiceChat" />
        </label>
    </p>

    @if(_raid.RaidType == RaidType.Planned)
    {
        <p>
            <label>
                Roles:
            </label>
            <button type=button @onclick="() => AddRoleClicked()">Add role</button>
            <table>
                <tr>
                    <th>Spots</th>
                    <th>Role name</th>
                    <th>Description</th>
                </tr>
                @foreach( PlannedRaidRole role in _raid.Roles)
                {
                    bool disableEdit = _raid.SignUps.Where(s => s.PlannedRaidRoleId == role.PlannedRaidRoleId).Any();
                    <tr>
                        <td><InputNumber @bind-Value="role.Spots" disabled="@disableEdit" /></td>
                        <td><InputText @bind-Value="role.Name" disabled="@disableEdit"  /></td>
                        <td><InputText @bind-Value="role.Description" disabled="@disableEdit"  /></td>
                        @if(!disableEdit)
                        {
                            <td><button type=button @onclick="() => DeleteRoleClicked(role)">Delete</button></td>
                        }
                    </tr>
                }
            </table> 
        </p>
    }
    
    <ValidationSummary />
    <label class="validation-message" >@_errorMessage</label>
    <button type="submit">Submit</button>

</EditForm>
        <br/>
<button type=button @onclick="() => DeleteRaidClicked()">Delete Raid</button>
</AuthorizeView>

@code {

    [Parameter]
    public string raidId { get; set; }

    public Raid _raid;

    private string _errorMessage = string.Empty;

    private DateTimeOffset _raidDate = DateTime.Now.Date;
    private DateTimeOffset _startTime;
    private DateTimeOffset _endTime;
    private DateTimeOffset _freeForAllDate = DateTime.Now.Date;
    private DateTimeOffset _freeForAllTime;



    protected override async Task OnInitializedAsync()
    {
        if(!string.IsNullOrEmpty(raidId) && int.TryParse(raidId, out int parsedId))
        {
            _raid = RaidService.GetRaid(parsedId);
            _startTime = await TimeZoneService.GetLocalDateTime(_raid.StartTimeUTC);
            _endTime = await TimeZoneService.GetLocalDateTime(_raid.EndTimeUTC);
            _raidDate = _startTime.Date;
            _freeForAllTime = await TimeZoneService.GetLocalDateTime(_raid.FreeForAllTimeUTC);
            _freeForAllDate = _freeForAllTime.Date;
        }
        else
        {
            _raid = new Raid();
        }
    }

    async Task AddRoleClicked()
    {
        _raid.Roles.Add(new PlannedRaidRole());
    }


    async Task DeleteRoleClicked(PlannedRaidRole role)
    {
        _raid.Roles.Remove(role);
    }

    async Task DeleteRaidClicked()
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete the raid?");
        if (confirmed)
        {
            await RaidService.DeleteRaid(_raid.RaidId);
            NavigationManager.NavigateTo("raidoverview");
        }
    }

    private async Task HandleValidSubmit()
    {
        if(_raid.RaidType != RaidType.Planned)
        {
            _raid.Roles.Clear();
            _raid.Roles.Add(new PlannedRaidRole()
                {
                    Spots = 10,
                    Name = "Random",
                    Description = _raid.RaidType.ToString()
                });
        }

        if(_raid.Roles.Count == 0)
        {
            _errorMessage = "Roles are needed for a raid.";
            return;
        }

        //_raid.TimeZone = await TimeZoneService.GetUserTimeZone();

        _raid.StartTimeUTC = await TimeZoneService.GetUTCDateTime(_raidDate.Date + _startTime.TimeOfDay);
        if(_startTime.TimeOfDay > _endTime.TimeOfDay)
        {
            _raid.EndTimeUTC = await TimeZoneService.GetUTCDateTime(_raidDate.Date + _endTime.TimeOfDay);
        }
        else
        {
            _raid.EndTimeUTC = await TimeZoneService.GetUTCDateTime(_raidDate.Date.AddDays(1) + _endTime.TimeOfDay);
        }
        _raid.FreeForAllTimeUTC = await TimeZoneService.GetUTCDateTime(_freeForAllDate.Date + _freeForAllTime.TimeOfDay);

        await RaidService.AddOrEditRaid(_raid);
        NavigationManager.NavigateTo("raidoverview");
    }
}