@using Lieb.Data
@using Lieb.Models
@using Lieb.Models.GuildWars2
@using Lieb.Models.GuildWars2.Raid
@inject RaidService RaidService


<table>
     @{RaidSignUp[] signUps = _raid.SignUps.Where(s => s.PlannedRaidRoleId == _currentRoleId).ToArray();}
    @foreach (var signUp in signUps.OrderBy(s => s.SignUpType))
    {
        @if(_signUpTypes.Contains(signUp.SignUpType))
        {
            <tr>
                @{
                    bool isUser = signUp.LiebUserId == _liebUserId;
                    string signUpStatus = string.Empty;
                    @if (signUp.SignUpType != SignUpType.SignedUp && _signUpTypes.Count > 1) signUpStatus = $" - {signUp.SignUpType}";
                }

                @if (isUser && _usableAccounts.Count > 1 && signUp.SignUpType != SignUpType.Flex)
                {
                    <td>
                        <select value=@signUp.GuildWars2AccountId @onchange="args => _Parent.ChangeAccount(args)">
                            @foreach (var account in _usableAccounts)
                            {
                                <option value=@account.GuildWars2AccountId>@account.AccountName</option>
                            }
                        </select> @signUpStatus 
                    </td>
                }
                else if(isUser)
                {
                    <td class="nametooltip username">
                        @signUp.GuildWars2Account.AccountName @signUpStatus
                        @if(_showToolTip)
                        {
                            <span class="tooltiptext">@signUp.LiebUser.Name</span>
                        }
                    </td> 
                }
                else
                {
                    <td class="nametooltip">
                        @signUp.GuildWars2Account.AccountName @signUpStatus
                        @if(_showToolTip)
                        {
                            <span class="tooltiptext">@signUp.LiebUser.Name</span>
                        }
                    </td> 
                }
            </tr>
        }
    }
</table>
@code {
    [CascadingParameter]
    public RaidRoles _Parent { get; set; }

    [Parameter]
    public Raid _raid { get; set; }

    [Parameter]
    public int _liebUserId { get; set; } = -1;

    [Parameter]
    public List<GuildWars2Account> _usableAccounts { get; set; }

    [Parameter]
    public int _currentRoleId { get; set; }

    [Parameter]
    public List<SignUpType> _signUpTypes { get; set; }

    [Parameter]
    public bool _showToolTip { get; set; } = false;
}
